<div class="panel-content">
    <div class="widget pad50-65">
      <div class="widget-title2">
        <h4>Default Progress Bars</h4>
      </div>
      <div class="prg-brs styl1">
        <div class="progress">
          <div class="progress-bar" style="width: 80%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar green-bg" style="width: 70%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar blue-bg" style="width: 60%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" style="width: 60%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-info" style="width: 70%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" style="width: 80%;"></div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-danger" style="width: 90%;"></div>
        </div>
      </div>
    </div>
    <div class="widget pad50-65">
    
    <div class="widget pad50-65">
      <div class="widget-title2">
        <h4>Progress Bars With Labels</h4>
      </div>
      <div class="prg-brs styl1">
        <div class="progress brd-rd0">
          <div class="progress-bar blue-bg" style="width: 60%;">60%</div>
        </div>
        <div class="progress brd-rd0">
          <div class="progress-bar green-bg" style="width: 70%;">70%</div>
        </div>
        <div class="progress brd-rd0">
          <div class="progress-bar" style="width: 80%;">80%</div>
        </div>
      </div>
    </div>
</div>